.chart {
    background: white;
    border-radius: 10px;
    width: max-content;
    margin: 0 auto;
}
.judul p {
    width: max-content;
    margin: 0 auto;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
}
