<mat-tab-group>
    <mat-tab label="All Classes">
        <div class="title">
            <p>Classes</p>
        </div>
        <div class="route">
            <p>Home <span> > All Classes</span></p>
        </div>
        <div class="container-table">
            <table>
                <tr class="header">
                    <th>
                        <p>Id</p>
                    </th>
                    <th>
                        <p>Subject Name</p>
                    </th>
                    <th>
                        <p>Subject Type</p>
                    </th>
                    <th>
                        <p>Class</p>
                    </th>
                    <th>
                        <p>Date</p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <p>#001</p>
                    </td>
                    <td>
                        <p>Accounting</p>
                    </td>
                    <td>
                        <p>Mathematics</p>
                    </td>
                    <td>
                        <p>4</p>
                    </td>
                    <td>
                        <p>02/05/2001</p>
                    </td>
                </tr>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>