<mat-tab-group>
    <mat-tab label="Add Subject">
        <div class="title">
            <p>Subject</p>
        </div>
        <div class="route">
            <p>Home <span> > Add New Subject</span></p>
        </div>
        <div class="container">
            <form action="">
                <div class="name-form">
                    <p>Add New Subject</p>
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">Subject Name*</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="mb-3">
                    <label for="subject" class="form-label">Subject Type*</label>
                    <input type="text" class="form-control" id="subject">
                </div>
                <div class="mb-3">
                    <label for="class" class="form-label">Subject Class*</label>
                    <input type="text" class="form-control" id="class">
                </div>
                <div class="mb-3">
                    <label for="Code" class="form-label">Code Subject</label>
                    <input type="text" class="form-control" id="Code">
                </div>
                <button class="btn btn-primary me-md-2" type="button">Save</button>
                <button class="btn btn-danger me-md-2" type="button">Reset</button>
            </form>
        </div>

    </mat-tab>
</mat-tab-group>