<mat-tab-group>
    <mat-tab label="All Parents ">
        <div class="title">
            <div class="head"><p>All Parents</p></div>
        </div>
        <div class="route">
            <p>Home <span> > All Parents</span></p>
        </div>
        <div class="container-table">
            <table>
                <tr class="header">
                    <th>
                        <p>Id</p>
                    </th>
                    <th>
                        <p>Photo</p>
                    </th>
                    <th>
                        <p>Name</p>
                    </th>
                    <th>
                        <p>Gender</p>
                    </th>
                    <th>
                        <p>Occouption</p>
                    </th>
                    <th>
                        <p>Address</p>
                    </th>
                    <th>
                        <p>Phone</p>
                    </th>
                    <th>
                        <p>E mail</p>
                    </th>
                </tr>
                <tr>
                    <td>
                        <p>#001</p>
                    </td>
                    <td>
                        <p>no-image</p>
                    </td>
                    <td>
                        <p>Yonyulisman</p>
                    </td>
                    <td>
                        <p>Male</p>
                    </td>
                    <td>
                        <p>Businessman</p>
                    </td>
                    <td>
                        <p>59 Australia, Sydney</p>
                    </td>
                    <td>
                        <p>08120201201</p>
                    </td>
                    <td>
                        <p>yonyulsman@gmail.com</p>
                    </td>
                </tr>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>