<div class="head"><p>Student Detail</p></div>
<div class="container">
    <div class="head">
        <div class="profil"><img src="assets/img/foto1.jpg" alt=""></div>
        <div class="name">
            <h1>jeny</h1>
        </div>
    </div>
    <div class="bio">
        <div class="names display">
            <p class="sub">Name:</p>
            <p class="data">Jeny</p>
        </div>
        <div class="gender display">
            <p class="sub">Gender:</p>
            <p class="data">Female</p>
        </div>
        <div class="father display">
            <p class="sub">Father Name:</p>
            <p class="data">Steve Jones</p>
        </div>
        <div class="mother display">
            <p class="sub">Mother Name:</p>
            <p >Naomi Rose</p>
        </div>
        <div class="birth display">
            <p class="sub">Date Of Birth:</p>
            <p >07/08/2016</p>
        </div>
        <div class="religion display">
            <p class="sub">Religion:</p>
            <p >islam</p>
        </div>
        <div class="occupation display">
            <p class="sub">Father Occupation:</p>
            <p >Graphic Designer</p>
        </div>
        <div class="email display">
            <p class="sub">E-mail:</p>
            <p >Jeny@gmail.com</p>
        </div> 
        <div class="class display">
            <p class="sub">Class:</p>
            <p >2</p>
        </div>
        <div class="section display">
            <p class="sub">Section:</p>
            <p >Pink</p>
        </div>
        <div class="roll display">
            <p class="sub">Roll:</p>
            <p >10005</p>
        </div>
        <div class="address display">
            <p class="sub">Address:</p>
            <p >House#10,Road#6,Australia</p>
        </div>
        <div class="phone display">
            <p class="sub">Phone:</p>
            <p >+ 88 98568888418</p>
        </div>
    </div>
</div>