<div class="container">
    <div class="title">
        <div class="head"><p>Head Master Dashboard</p></div>
    </div>
    <div class="list-box">
        <div class="box">
            <div class="logo"><img src="/assets/icon/student.png" alt=""></div>
            <div class="name-amount">
                <p>Students</p>
                <p>340</p>
            </div>
        </div>
        <div class="box">
            <div class="logo"><img src="/assets/icon/female.png" alt=""></div>
            <div class="name-amount">
                <p>Teachers</p>
                <p>100</p>
            </div>
        </div>
        <div class="box">
            <div class="logo"><img src="/assets/icon/parents.png" alt=""></div>
            <div class="name-amount">
                <p>Parents</p>
                <p>210</p>
            </div>
        </div>
    </div>
</div>