.list-box img {
    height: 80px;
}
.list-box {
    display: flex;
    justify-content: space-between;
    width: 83%;
    margin: auto;
}
.box {
    background: #fff;
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    box-shadow: 4px 4px #c9c9c9;
}
.box p {
    font-size: 21px;
}
.head p {
    font-size: 30px;
    font-weight:400;
}
.head {
    margin: 26px 0;
}
.title {
    font-size: 30px;
    font-weight: 400;
    margin-top: 18px;
    margin-left: 35px;
}
.route {
    font-size: 15px;
    margin-top: 25px;
    margin-left: 40px;
    margin-bottom: 50px;
}
span {
    color: #cd3a0e;
}
@media (min-width: 1200px){
    .container{
        max-width: 100%;
    }
}
