<mat-tab-group>
    <mat-tab label="Add Student">
        <div class="title"><p>Student</p></div>
        <div class="route"><p>Home <span> > Add New Student</span></p></div>
        <div class="container">
            <div class="name-form"><p>Add New Student</p></div>
            <form action="">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Full Name</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Birth</label>
                    <input type="date" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Religion</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Class</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <mat-radio-group aria-label="Select an option">
                    <div class="gender">
                        <label for="exampleFormControlInput1" class="form-label">Gender</label> <br>
                        <mat-radio-button value="1">Male</mat-radio-button>
                        <mat-radio-button value="2">Female</mat-radio-button>
                    </div>
                </mat-radio-group>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Phone</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Adress</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Upload Student Photo</label>
                    <input class="form-control" type="file" id="formFile">
                </div>
            </form>
        </div>

    </mat-tab>
</mat-tab-group>