<mat-tab-group>
    <mat-tab label="All Classes">
        <div class="title"><p>Classes</p></div>
        <div class="route"><p>Home <span> > All Classes</span></p></div>
        <div class="container-table">
            <table>
                <tr class="header">
                    <th>
                        <p>Id</p>
                    </th>
                    <th>
                        <p>Photo</p>
                    </th>
                    <th>
                        <p>Name</p>
                    </th>
                    <th>
                        <p>Gender</p>
                    </th>
                    <th>
                        <p>Class</p>
                    </th>
                    <th>
                        <p>Section</p>
                    </th>
                    <th>
                        <p>date</p>
                    </th>
                    <th>
                        <p>time</p>
                    </th>
                    <th>
                        <p>Phone</p>
                    </th>
                    <th>
                        <p>E mail</p>
                    </th>
                </tr>
                <tr>
                    <td><p>#001</p></td>
                    <td><p>no-image</p></td>
                    <td><p>Raisul khairi</p></td>
                    <td><p>Male</p></td>
                    <td><p>2</p></td>
                    <td><p>A</p></td>
                    <td><p>59 Australia, Sydney</p></td>
                    <td><p>10.00 am-11.30 am</p></td>
                    <td><p>081220361299</p></td>
                    <td><p>raisulkhairi20@gmail.com</p></td>
                </tr>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>