.container{
    /* margin: auto 0; */
    height: 50vh;
}
.chart {
    background: white;
    width: max-content;
    border-radius: 10px;
    margin: 117px 0px;
}
.judul p {
      width: max-content;
      margin: 0 auto;
      font-family: sans-serif;
      color: black;
      font-weight: bold;
      letter-spacing: 1px;
}